<form>
  <div class="form-group">
      <label for="bonusdice">Bonus Dice</label>
      <select name="bonusdice" id="bonusdice">
	<option value=0 selected>0</option>
	<option value=1>1</option>
	<option value=2>2</option>
	<option value=3>3</option>
	<option value=4>4</option>
	<option value=5>5</option>
	<option value=6>6</option>
      </select>
      <label for="bonusflat">Flat Bonus</label>
      <select name="bonusflat" id="bonusflat">
	<option value=0 selected>0</option>
	<option value=1>1</option>
	<option value=2>2</option>
	<option value=3>3</option>
	<option value=4>4</option>
	<option value=5>5</option>
	<option value=6>6</option>
      </select>
  </div>
  <div class="form-group">
      <label for="penaltydice">Penalty Dice</label>
      <select name="penaltydice" id="penaltydice">
	<option value=0 selected>0</option>
	<option value=1>1</option>
	<option value=2>2</option>
	<option value=3>3</option>
	<option value=4>4</option>
	<option value=5>5</option>
	<option value=6>6</option>
      </select>
      <label for="penaltyflat">Flat Penalty</label>
      <select name="penaltyflat" id="penaltyflat">
	<option value=0 selected>0</option>
	<option value=1>1</option>
	<option value=2>2</option>
	<option value=3>3</option>
	<option value=4>4</option>
	<option value=5>5</option>
	<option value=6>6</option>
      </select>
  </div>
  {{#if stunts}}
  <div class="form-group">
	  <div class="box">
	  <input type="radio" id="0-dot" name="stunt" value="0" checked>
	  <label for="0-dot">No Stunt</label>
	  </div><div class="box">
	  <input type="radio" id="1-dot" name="stunt" value="1">
	  <label for="1-dot">1 Dot</label>
	  </div><div class="box">
	  <input type="radio" id="2-dot-flat" name="stunt" value="2">
	  <label for="2-dot-flat">2 Dot Flat</label>
	  </div><div class="box">
	  <input type="radio" id="2-dot-die" name="stunt" value="2b">
	  <label for="2-dot-die">2 Dot Die</label>
	  </div>
	  </!! TODO: add handling for test dice and rerolls>	  
	  
  </div>
  {{/if}}
</form>
