<form class="{{cssClass}}" autocomplete="off">
	{{log this}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
	 <ol class="items-list">
                <li class="item flexrow item-header" data-item-id="{{item._id}}">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls">
			  <a class="modifier-create item" title="Create Modifier" data-type="modifier"><i class="fas fa-plus"></i> Add</a>
                  </div>
                </li>
            {{#each data.modifiers as |mod index|}}
	    <li class="item flexrow" data-item-id="{{../item._id}}" data-index="{{index}}" draggable="true">
		    <input type="text" class="item-name" name="data.modifiers.{{index}}.name" value="{{mod.name}}" title="name"/>
		    <select name="data.modifiers.{{index}}.type"> 
			    <option value="flat"{{#if (eq mod.type "flat")}} selected{{/if}}>flat</option>
			    <option value="die"{{#if (eq mod.type "die")}} selected{{/if}}>die</option>
			    <option value="reroll"{{#if (eq mod.type "reroll")}} selected{{/if}}>reroll</option>
		    </select>
		    <select name="data.modifiers.{{index}}.targettype"> 
			    <option value="ability"{{#if (eq mod.targettype "ability")}} selected{{/if}}>ability</option>
			    <option value="attack"{{#if (eq mod.targettype "attack")}} selected{{/if}}>attack</option>
			    <option value="damage"{{#if (eq mod.targettype "damage")}} selected{{/if}}>damage</option>
			    <option value="other"{{#if (eq mod.targettype "other")}} selected{{/if}}>other</option>
		    </select>
		    {{#if (eq mod.targettype "other")}}
		    <select name="data.modifiers.{{index}}.target">
			    <option value="health"{{#if (eq "health" mod.target)}}selected{{/if}}>health</option>
			    <option value="composure"{{#if (eq "composure" mod.target)}}selected{{/if}}>composure</option>
			    <option value="initiative"{{#if (eq "initiative" mod.target)}}selected{{/if}}>initiative</option>
			    <option value="socialintiative"{{#if (eq "socialinitiative" mod.target)}}selected{{/if}}>social initiative</option>
		    </select>
		    {{else}}
		    <select name="data.modifiers.{{index}}.target">
			    {{#each ../data/modtypes/ability  as |curtype val|}}
			    <option value="{{val}}"{{#if (eq val mod.target)}}selected{{/if}}>{{val}}</option>
		{{/each}}
		    </select>
		    <select name="data.modifiers.{{index}}.special">
			    <option value="none"{{#if (eq curspecial "none")}}selected{{/if}}>All Rolls</option>
			    {{#each (lookup ../data/modtypes/ability mod.target) as |curval curspecial |}}

			    <option value="{{curval}}"{{#if (eq curval mod.special)}}selected{{/if}}>{{curval}}</option>
		{{/each}}
		    </select>
		    {{/if}}
		    <input type="text" class="item-name" name="data.modifiers.{{index}}.effect" value="{{mod.effect}}" title="effect"/>
                    <div class="item-controls">
                        <a class="modifier-remove" title="DeleteModifier"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>

        </div>
    </section>
</form>
